In [1]:
import numpy as np
n1=np.array([10,20,30,40,1000])
n1

array([  10,   20,   30,   40, 1000])

In [2]:
np.mean(n1)

220.0

In [3]:
np.median(n1)

30.0

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\thinkpad\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\thinkpad\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thinkpad\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\thinkpad\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thinkpad\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\thinkpad\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# series object one dimensional labeled array

In [5]:
import pandas as pd

In [6]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
type(s1)

pandas.core.series.Series

# series can be indexed and change to its value

In [8]:
s2=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

# we can also create a series object from dict

In [9]:
s3=pd.Series({'a':10,'b':20,'c':30})
s3

a    10
b    20
c    30
dtype: int64

# we can change the index position

In [10]:
pd.Series({'a':10,'b':20,'c':30},index=['b','c','d','a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

# extracting the individual values on series

In [11]:
s11=pd.Series([1,2,3,4,5,6,7,8,9])
s22=pd.Series([10,20,30,40,50,60,70,80,90])

In [12]:
s11

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [13]:
s11[2]

3

In [14]:
s11[2:5]

2    3
3    4
4    5
dtype: int64

In [15]:
s11[-5:]

4    5
5    6
6    7
7    8
8    9
dtype: int64

# basic math operations on series

In [16]:
s11+10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [17]:
s11*10

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [18]:
s11+s22

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [19]:
s11/s22

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
5    0.1
6    0.1
7    0.1
8    0.1
dtype: float64

# creating a dataframe

In [20]:
df1=pd.DataFrame({"Name":['Aarwi','Aarabya','Ankit','Shyam','Saransh','Sasangk','Biyansha','Sitishma','Anwyesh','Sayara'],
                  "Marks":[98,99,79,80,90,96,97,78,77,92],
                  "Address":['Bkt','lal','Ktm','Bkt','Bir','Ktm','Birgunj','Morang','Jhapa','Lal'],
                  "Age":[10,12,23,11,17,18,19,22,16,13],
                  "Gender":['F','F','M','M','M','M','F','F','M','F']}
                )

In [21]:
df1.head(10)

       Name  Marks  Address  Age Gender
0     Aarwi     98      Bkt   10      F
1   Aarabya     99      lal   12      F
2     Ankit     79      Ktm   23      M
3     Shyam     80      Bkt   11      M
4   Saransh     90      Bir   17      M
5   Sasangk     96      Ktm   18      M
6  Biyansha     97  Birgunj   19      F
7  Sitishma     78   Morang   22      F
8   Anwyesh     77    Jhapa   16      M
9    Sayara     92      Lal   13      F

In [22]:
df1.to_csv('Data_Sets/student.csv', index=False)

OSError: Cannot save file into a non-existent directory: 'Data_Sets'

In [ ]:
df1.tail()

       Name  Marks  Address  Age Gender
5   Sasangk     96      Ktm   18      M
6  Biyansha     97  Birgunj   19      F
7  Sitishma     78   Morang   22      F
8   Anwyesh     77    Jhapa   16      M
9    Sayara     92      Lal   13      F

In [ ]:
df=pd.DataFrame({
    'A':[i for i in range(1,101)],
    'B':[i**2 for i in range(1,101)]
})

In [ ]:
pd.set_option('display.max_rows',20)
pd.set_option('display.max_columns',5)
pd.set_option('display.float_format','{:.2f}'.format)

In [ ]:
df

      A      B
0     1      1
1     2      4
2     3      9
3     4     16
4     5     25
..  ...    ...
95   96   9216
96   97   9409
97   98   9604
98   99   9801
99  100  10000

[100 rows x 2 columns]

In [ ]:
df.head()

   A   B
0  1   1
1  2   4
2  3   9
3  4  16
4  5  25

In [ ]:
df.iloc[22]

A     23
B    529
Name: 22, dtype: int64

In [ ]:
df.loc[2]

A    3
B    9
Name: 2, dtype: int64

In [ ]:
df.loc[2, 'A']

3

In [ ]:
df.loc[3:5]

   A   B
3  4  16
4  5  25
5  6  36

In [ ]:
df.iloc[0,0] #df[rowidx, colidx] col 1 A, col 2 B

1

In [ ]:
df.iloc[22,1]

529

In [ ]:
df.iloc[1:7:2]

   A   B
1  2   4
3  4  16
5  6  36